services:

  postgres:
    image: postgres:18
    container_name: journalsphere-postgres
    environment:
      POSTGRES_DB: journalsphere
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    restart: unless-stopped

volumes:
  pgdata:
